<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>{{title}} | The Right way to judge</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js" type="text/javascript"></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->

      <link rel="stylesheet" href="./stylesheets/style.css">


</head>

<body>
  <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Natalio Ruiz | F. </title>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar" data-offset="50">
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">
                <div id="logo">
                    <!-- <img src="//neitofcc.github.io/portfolio/img/logo.png" alt="logo"> -->
                </div>
                <div id="logo-caption">
                    <div class="name">REPORT CARD</div>
                    <div class="legend">THE RIGHT WAY TO JUDGE</div>
                </div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#services">about you</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">PORTFOLIO</a>
                </li>
                <li class="page-scroll">
                    <a href="#skills">Marks</a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Incentives</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">A word!</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section id="welcome">
    <div class="container vcenter">
        <div class="row">
            <div class="col-md-12 text-center main-header page-scroll">
                <h3>Education is what remains after one has forgotten what one has learned in school. </h3>
                <h3> - Albert Einstine</h3>
                <h1>REPORT CARD</h1>
                <h2>We'll judge you, the right way ;)</h2>

                <a class="btn btn-sm btn-light" href="#services">Let's Start</a>
            </div>
        </div>
    </div>
    <div class="scroller page-scroll">
        <div class="see-more">SEE MORE</div>
        <div id="hover">
            <a href="#services">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <header class="col-md-12 text-center section-header">
                <span class="subtitle">Tell me about yourself</span>
                <h2 class="title">Student information</h2>
            </header>
        </div>
        <div class="row">

<div class="containerform">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>
    <form id="login_form" method="post">
      <div class="input-container">
        <input type="#{type}" id="name" required="required"/>
        <label for="#{label}">Name</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="#{type}" id="eroll_no" required="required"/>
        <label for="#{label}">Roll Number</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button onclick="validateLogin(login_form)"><span>Go</span></button>
        <!-- <script>
          function myFunction() {
            alert("hi");
          }
        </script> -->
      </div>
      <!-- <div class="footer"><a href="#">Forgot your password?</a></div> -->
    </form>
  </div>
  <div class="card alt">
    <div class="toggle"></div>
    <h1 class="title">Register
      <div class="close"></div>
    </h1>
    <form>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required"/>
        <label for="#{label}">Roll Number</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required"/>
        <label for="#{label}">Password</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required"/>
        <label for="#{label}">Repeat Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Next</span></button>
      </div>
    </form>
  </div>
</div>


  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script  src="./javascripts/index.js"></script>
        </div>
    </div>
</section>

<section id="about" class="bg-white">
  <div class="this__body">


    <div class="stats">
<header class="stats__header">
  <div class="stats__header-num">
    <p id="roll">{{eroll_no}}</p>
  </div>
  <div class="stats__header-name">
    <p>PORTFOLIO<span>{{username}}</span></p>
  </div>
</header>
<ul class="stats__list">
  <li class="stats__item">
    <p class="stats__item-num">SPORTS</p>
    <div class="stats__item-bar"></div>
  </li>
  <li class="stats__item">
    <p class="stats__item-num">QUIZ</p>
    <div class="stats__item-bar"></div>
  </li>
  <li class="stats__item">
    <p class="stats__item-num">LITERARY</p>
    <div class="stats__item-bar"></div>
  </li>
  <li class="stats__item">
    <p class="stats__item-num">DANCE</p>
    <div class="stats__item-bar"></div>
  </li>
  <li class="stats__item">
    <p class="stats__item-num">MUSIC</p>
    <div class="stats__item-bar"></div>
  </li>
  <li class="stats__item">
    <p class="stats__item-num">THEATER</p>
    <div class="stats__item-bar"></div>
  </li>
  <li class="stats__item">
    <p class="stats__item-num">OLYMPIADS</p>
    <div class="stats__item-bar"></div>
  </li>
  <!-- <li class="stats__item">
    <p class="stats__item-num">50</p>
    <div class="stats__item-bar"></div>
  </li> -->
</ul>
<div class="stats__overlay">
  <div class="stats__overlay-back">
    <svg fill="white" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"><path d="M30 16.5H11.74l8.38-8.38L18 6 6 18l12 12 2.12-2.12-8.38-8.38H30v-3z"></path></svg>
    <p id="year">{{type}}</p>
  </div>
  <div class="stats__overlay-avg">
    <p class="avg" id="avg">{{score}}</p>
    <p>Out of 10</p>
  </div>
  <div class="stats__overlay-info">
    <div class="stats__overlay-info-half">
      <p id="goals">{{events_at}}</p>
      <p>Events Attended</p>
    </div>
    <div class="stats__overlay-info-half">
      <p id="games">{{events_to}}</p>
      <p>Total no. of Events</p>
    </div>
  </div>
</div>
</div>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  <script  src="./javascripts/index.js"></script>
</section>


<section id="skills">
    <div class="container">
        <div class="row">
            <header class="col-md-12 text-center">
                <span class="subtitle">You in numbers</span>
                <h3 class="title">Marks</h3>
            </header>
        </div>
        <div class="row">

            <canvas id="myChart"></canvas>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

    <script  src="./javascripts/index.js"></script>

</section>

<section id="portfolio" class="bg-white">
    <div class="container">
        <div class="row">
            <header class="col-md-12 text-center">
                <span class="subtitle">Road to be taken</span>
                <h3 class="title">INCENTIVES</h3>
            </header>
        </div>


        <div class="separator"></div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <header class="col-md-12 text-center">
                <span class="subtitle">Get in touch</span>
                <h2 class="title">Contact</h2>
            </header>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 bg-gray">
                <form action="https://formspree.io/natalio@neitosoft.com" method="POST">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <input class="form-control" name="name" type="text" placeholder="Your name">
                            <input class="form-control" name="email" type="text" placeholder="Your email">
                        </div>
                        <div class="form-group">
                            <textarea name="message" class="form-control" rows="5" placeholder="Your Message"></textarea>
                        </div>
                        <div>
                            <span class="required-fields">* All files are required.</span>
                        </div>
                        <div class="submit">
                            <input class="btn pull-left" type="submit" value="Send">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 bg-map">
                <ul>
                    <li>
                        <span><i class="fa fa-map-marker"></i></span>
                        <strong>Location</strong><br>
                        MZ 32 D6 3B, Claypole<br>
                        BA, Argentina
                    </li>
                    <li>
                        <span><i class="fa fa-phone"></i></span>
                        <strong>Phone</strong><br>
                        +54 11 6979-3730
                    </li>
                    <li>
                        <span><i class="fa fa-envelope"></i></span>
                        <strong>Email</strong><br>
                        questions@neitosoft.com
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer id="summary">
    <div class="container-fluid social-links">
        <div class="container">
            <div class="row text-center">
                <ul>
                    <li><a href="https://twitter.com/ruiznato"><i class="fa fa-twitter"></i></a></a></li>
                    <li><a href="https://plus.google.com/116597825293208968549"><i class="fa fa-google"></i></a></a></li>
                    <li><a href="https://github.com/ruiznato"><i class="fa fa-github"></i></a></a></li>
                    <li><a href="https://www.linkedin.com/in/natalioruiz"><i class="fa fa-linkedin"></i></a></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-darkgray copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">REPORT CARD</div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://neitofcc.github.io/portfolio/js/jquery.easing.min.js'></script>

    <script  src="./javascripts/index.js"></script>

</body>
</html>
